img[alt="profile image"]{
    height: 18rem;
    width: 18rem;
}
input[name="mb-no"]
{
width: 10rem;
}
input[name="age"]
{
    width:5rem;
}
hr{
    background-color: black;
}
label[for="name"],label[for="title"],label[for="email"],label[for="mb-no"],label[for="age"],
label[for="gender"],label[for="bio"],label[for="skills"],label[for="upload_resume"],label[for="state"]{
    font-weight: bold;
}