
input
{
     width: 100%;
     border: unset;
     background-color:transparent;
     border-bottom: 2px solid rgb(230, 166, 166);
     transition: border-bottom 1s;
}
.lg_card
{
     margin-left: 30%;
     margin-right: 30%;
     border-radius: 3%;
     height: 500px;
}
::placeholder
{
     color: gray

}
input:focus
{
     outline: unset;
     border-bottom:2px solid blueviolet;
     
}
.btn_style
{
     background-color: unset;
     background-image: linear-gradient(to right, rgb(5, 5, 46),rgb(43, 43, 117),rgb(138, 138, 192));
     border-radius: 2em;
     
}

.form_title
{
     font-family: Poppins-Bold;
     font-size: 3rem;
     text-align: center;
}

.err_msg
{
     font-size: small;
     color: red;
}
@media (max-width: 768px)
{
     .lg_card
     {
          margin-left: 20%;
          margin-right: 20%;
          border-radius: 3%;
          height: 500px;
     }
     body
     {
          font-size: 1.5em;
     }
     .btn_style
     {
          font-size: 1.2rem;
          height: 3em;
          background-color: unset;
          background-image: linear-gradient(to right, rgb(5, 5, 46),rgb(43, 43, 117),rgb(138, 138, 192));
          border-radius: 2em;
          
     }
}
@media (max-width: 425px)
{
     .lg_card
     {
          margin-left: 10%;
          margin-right: 10%;
          border-radius: 3%;
          height: 500px;
          font-size: 0.8em;
     }
     
     .btn_style
     {
          font-size: 1rem;
          height: 3em;
          background-color: unset;
          background-image: linear-gradient(to right, rgb(5, 5, 46),rgb(43, 43, 117),rgb(138, 138, 192));
          border-radius: 2em;
          
     }
}
@media (min-width: 1025px)
{
     .lg_card
     {
          margin-left: 30%;
          margin-right: 30%;
          border-radius: 3%;
          height: 500px;
          font-size: 1.5rem;
     }
     
     .btn_style
     {
          font-size: 1rem;
          height: 3em;
          background-color: unset;
          background-image: linear-gradient(to right, rgb(5, 5, 46),rgb(43, 43, 117),rgb(138, 138, 192));
          border-radius: 2em;
          
     }
}
@media (min-width: 2560px)
{
     .form_title
     {
          font-family: Poppins-Bold;
          font-size: 7rem;
          text-align: center;
     }
     .lg_card
     {
          margin-left: 20%;
          margin-right: 20%;
          border-radius: 3%;
          height: 50rem;
          font-size: 2rem;
     }
     
     .btn_style
     {
          font-size: 2rem;
          height: 3em;
          background-color: unset;
          background-image: linear-gradient(to right, rgb(5, 5, 46),rgb(43, 43, 117),rgb(138, 138, 192));
          border-radius: 2em;
          
     }
}