
<footer class="text-break">
    <div style="background-color: #6351ce;">
        <div class="d-flex p-3 text-white text-center text-md-left flex-wrap">
            <div class="col-12 col-md-6">
                <h6 >Get connected with us on social networks!</h6> 
            </div>
            <div class="text-md-center col-12 col-md-6 lead ">
                <a href="https://www.facebook.com"><i class='fab fa-facebook-f' style='color :white;'></i></a> &nbsp;                    
                <a href="https://www.instagram.com"><i class='fab fa-instagram' style='color :white;'></i></a> &nbsp;
                <a href="https://www.twitter.com"><i class='fab fa-twitter' style='color :white;'></i></a> &nbsp;
                <a href="https://www.linkedin.com"><i class='fab fa-linkedin-in' style='color :white;'></i></a> &nbsp;
                
            </div>
        </div>    
    </div>
    
    <div class="p-3 d-flex text-white flex-wrap text-center text-md-left"  style="background-color: rgb(20, 20, 54);">
        <div class="col-md-3 col-12">
            <div class="col-12">
                <h4>COMPANY NAME</h4>
                <hr class="d-inline-block">
            </div>
            <div class="col-12">
                Here you can use rows and columns to organize your footer content. 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="col-12">
                <h4 >PRODUCTS</h4>
                <hr class="d-inline-block">
                <p>
                    MDBootstrap
                </p>
                <p>
                    MDWordPress
                </p>
                <p>
                    BrandFlow
                </p>
                <p>
                    Bootstrap Angular
                </p>
            </div>  
        </div>
        <div class="col-md-3 col-12">
            <div class="col-12">
                <h4>USEFUL LINK</h4>
                <hr class="d-inline-block">
                <p>
                    Your account
                </p>
                <p>
                    Become an affiliate
                </p>
                <p>
                    shipping Rates
                </p>
                <p>
                    Help
                </p>
            </div>  
        </div>
        <div class="col-md-3 col-12">
            <div class="col-12">
                <h4>CONTACT</h4>
                <hr class="d-inline-block">
                <div class="mb-3">
                    <i class="fas fa-home mr-3"></i>New York, NY 10012, US
                </div>
                <div class="mb-3">
                    <i class="fas fa-envelope mr-3"></i> info@example.com
                    
                </div>
                <div class="mb-3">
                    <i class="fas fa-phone mr-3"></i>+91 0123456789
                </div>
            </div>  
        </div>
    </div>
    <div class="text-center text-white p-4" style="background-color: rgb(23, 18, 27);">
        &copy; 2020 Copyright: demo.com
    </div>
</footer>
